.Carte {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: center;
    align-self: center;
    justify-self: center;
    font-family: sans-serif;
    overflow: hidden;
    cursor: pointer;
    --duration: .44s;
    --move-hover: -4px;
    -webkit-transform: translateY(var(--y));
    transform: translateY(var(--y));
    transition: -webkit-transform var(--duration) ease;
    transition: transform var(--duration) ease;
}

.Carte:hover {
    background: #f9f9f9;
    /*transform: translateY(-5px);
    -webkit-transform: translateY var(-5px) ease;
     */
    transition: background-color .5s ease;
    --y: var(--move-hover);

}

.Carte:hover img {
    opacity: 60%;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}


.Carte h4 {
    text-align: left;
}

.Carte img {
    width: 100%;
}

.tag {
    max-height: 1em;
    align-self: start;
}

.tag h5 {
    font-size: .7em;
    text-align: left;
}