.Carte {
    height: 15em;
    width: 15em;
    padding-bottom: 3em;
    border-radius: 25px;
    background-color: #ffffff;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 2em;
    grid-template-rows: 60% auto auto;
    justify-content: space-evenly;
    box-sizing: content-box;
    box-shadow: 0 5px 5px #282c34;
    font-family: sans-serif;
    --duration: .44s;
    --move-hover: -4px;
    -webkit-transform: translateY(var(--y));
    transform: translateY(var(--y));
    transition: -webkit-transform var(--duration) ease;
    transition: transform var(--duration) ease;
}

.Carte:hover {
    background: #CFFAFF;
    /*transform: translateY(-5px);
    -webkit-transform: translateY var(-5px) ease;
    transition: all 2s ease-in-out;*/
    --y: var(--move-hover);

}

.Carte p {
    padding: 10px;
    font-size: .75em;
    color: darkgray;
}

.Carte img {
    height: auto;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}